
<br>
<br>
<h4>Add new store</h4>
<div>
  <label> Name: <input #nameInput type="text"></label><br>
  <label> Address: <input #addressInput type="text"></label><br>
  <label> City: <input #cityInput type="text"></label><br>
  <label> County: <input #countyInput type="text"></label><br>
  <label> Postal Code: <input #postalCodeInput type="text"></label><br>

</div>
<div>
  <button (click)="onSave(nameInput.value, addressInput.value, cityInput.value, countyInput.value, postalCodeInput.value )">Save</button>
</div>

<br>
<br>

<div>

  <br>
  <br>
  <h4>Update store</h4>
  <div>
    <label> Id: <input #idInputUpdate type="text"></label><br>
    <label> Name: <input #nameInputUpdate type="text"></label><br>
    <label> Address: <input #addressInputUpdate type="text"></label><br>
    <label> City: <input #cityInputUpdate type="text"></label><br>
    <label> County: <input #countyInputUpdate type="text"></label><br>
    <label> Postal Code: <input #postalCodeInputUpdate type="text"></label><br>

  </div>
  <div>
    <button (click)="onUpdate(idInputUpdate.value, nameInputUpdate.value, addressInputUpdate.value, cityInputUpdate.value, countyInputUpdate.value, postalCodeInputUpdate.value )">Save</button>
  </div>

</div>
